<div id="content" class="content content_full">
   <div class="row clearfix" id="inner-content">
    <div role="main" class="large-9 medium-12 columns" id="main">
   <h1 class="singleh1">Sign Up</h1>
   <div class="login_form_l">
      <div class="login_content">
          <%= render "devise/shared/error_messages", resource: resource %>
      </div>
      <div class="login_form_box">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
         <div class="form_row clearfix">
            <label>Username <span>*</span> </label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
         </div>
         <div class="form_row clearfix">
            <label>Password <span>*</span> </label>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
         </div>
          <div class="form_row clearfix">
            <label>Password Confirmation<span>*</span> </label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
         </div>
         <input class="b_signin_n" type="submit" value="Sign Up" name="submit">
         <% end %>
      </div>
<%= render "devise/shared/links" %>

   </div>
</div>
 <%= render "devise/shared/sidebar" %>
 </div>
</div>