<li class="comment even thread-even panel">
    <article id="comment-<%=id%>" class="clearfix large-12 columns">
        <header class="comment-author">
            <%= image_tag avatar, class: "avatar photo" ,  width: "50" , height: "50"%>
            <cite class="fn">
            <a href="/"><%=user%></a>
            </cite>	
            <time datetime="<%=created_time%>"><span class="byline"> on <%=created_time%> </span>
            </time>
        </header>
        <div class="alert alert-info">
            <p><%=content%></p>	
        </div>
    </article>
</li>