 <header class="header" role="banner">
    <div id="inner-header" class="row" >
        <div class="large-12 columns">
            <div class="row">
            <div class="large-6 medium-6 columns head-left">
                <h1>
                    <a href="/" rel="nofollow">
                    <img src="<%=asset_path('logo-new.png')%>" title="This is a demo video site"/>
                    </a>
                    <small>
                    This is a demo video site									</small>
                </h1>
            </div>
            <div class="large-6 medium-6 columns head-right">
                <div class="menu">
                    <ul class="primary_menu clearfix" id="menu-primary-items">
                       <% if user_signed_in? %>
                            <li class="tmpl-login tmpl-link" > <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                        <%else%>
                        <li class="tmpl-login tmpl-link" > <%= link_to "Sign in", new_user_session_path %></li>
                        <%end%>
                        <li class='listing-btn'> <%= link_to "Add Video", new_video_item_path %></li>
                    </ul>
                </div>
                <div id="text-6" class="widget widget_text">
                    <div class="widget-wrap widget-inside">
                        <div class="textwidget"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Navigation - Desktop Devices -->
        <div class="large-12 columns show-for-large-up hide-for-xsmall-only">
            <div>
            <!-- If you want to use the more traditional "fixed" navigation.
                simply replace "sticky" with "fixed" -->
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <!-- Title Area -->
                    <li class="toggle-topbar menu-icon">
                        <a href="#"><span>Menu</span></a>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul id="menu-empty-menu" class="">
                        <li  class="menu-item  <%=get_menu_status(action_name,'index')%>">
                        <%=link_to 'Home', root_path%></li>
                        <li  class="menu-item menu-item-has-children has-dropdown not-click <%=get_menu_status(action_name,'categories,video,videos')%>">
                        <%=link_to 'Category', videos_path%>
													<ul class="dropdown">
													 <%= render(CategoryComponent.with_collection(@categories))  do |component|%>
														<% component.slot(:menu_item) do %>
															this is menu item
														<% end %>
														<%end%>
													</ul>
												</li>
                        <li  class="menu-item <%=get_menu_status(action_name,'about_us')%>">
                          <%=link_to 'About Us', about_us_path%></li>
                        <li  class="menu-item <%=get_menu_status(action_name,'blog')%>">
                          <%=link_to 'Blog', blog_path%></li>
                        <li  class="menu-item <%=get_menu_status(action_name,'faqs')%>">
                          <%=link_to 'Faqs', faqs_path%></li>
                        <li  class="menu-item <%=get_menu_status(action_name,'new')%>">
                         <%= link_to "Submit Video", new_video_item_path %></li>
                    </ul>

                    <div id="search-10" class="widget widget_search">
                        <div class="widget-wrap widget-inside">
                        <%= form_tag(search_path, id: "searchform")do %>
                            <%= text_field_tag :q , "", required: true, placeholder: "Search the Site..." %>
                            <%= submit_tag 'Search',  id: "searchsubmit" ,class: "button" %>
                        <% end %>
                        </div>
                    </div>
                </section>
            </nav>
            </div>
        </div>
        <!-- #End Desktop Devices -->
        <!-- Small devices - show site title e.g width <= 480px -->
        <div class="large-12 columns hide-for-large-up lpn rpn">
            <div class="contain-to-grid">
            <nav class="tab-bar">
                <section class="middle tab-bar-section">
                    <h1 class="title"><a href="/" rel="nofollow"><img src="<%=asset_path('logo-new.png')%>" /></a></h1>
                </section>
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                </section>
            </nav>
            </div>
        </div>
        <!-- Small devices Navigation  e.g width <= 480px -->						
        <aside class="left-off-canvas-menu hide-for-large-up">
            <div id="nav_menu-2" class="widget widget_nav_menu">
            <div class="widget-wrap widget-inside">
                <div class="menu-menu-container">
                    <ul id="menu-menu-1" class="menu">
                        <li  class="menu-item  <%=get_menu_status(action_name,'index')%>">
                        <%=link_to 'Home', root_path%></li>
                        <li  class="menu-item  <%=get_menu_status(action_name,'categories,video,videos')%>">
                        <%=link_to 'Category', videos_path%></li>
                        <li  class="menu-item <%=get_menu_status(action_name,'about_us')%>">
                          <%=link_to 'About Us', about_us_path%></li>
                        <li  class="menu-item <%=get_menu_status(action_name,'blog')%>">
                          <%=link_to 'Blog', blog_path%></li>
                        <li  class="menu-item <%=get_menu_status(action_name,'faqs')%>">
                          <%=link_to 'Faqs', faqs_path%></li>
                        <li  class="menu-item <%=get_menu_status(action_name,'new')%>">
                         <%= link_to "Submit Video", new_video_item_path %></li>
                    </ul>
                </div>
            </div>
            </div>
            <ul class="nav-search lmn">
            <!-- Search | has-form wrapper -->
            <li class="has-form">
                <div class="menu">
                    <ul class="primary_menu clearfix" id="menu-primary-items">
                       <% if user_signed_in? %>
                            <li class="tmpl-login tmpl-link" ><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                        <%else%>
                        <li class="tmpl-login tmpl-link" > <%= link_to "Sign in", new_user_session_path %></li>
                        <%end%>
                        <li class='listing-btn'> <%= link_to "Add Video", new_video_item_path %></li>
                    </ul>
                </div>
                <div id="text-6" class="widget widget_text">
                    <div class="widget-wrap widget-inside">
                        <div class="textwidget"></div>
                    </div>
                </div>
            </li>
            </ul>
        </aside>
        <a class="exit-off-canvas"></a>
    </div>
    <!-- end #inner-header -->
</header>