<div  id="video_comments_<%=video.id%>"  data-controller="comment">
<%if video.comments.size.to_i > 0 %>
 <h3 id="comments" class="h2"> Responses to  “<%=video.title%>” </h3>
 <ol  class="commentlist" >
     <%= render(CommentComponent.with_collection(video.comments.order(:id))) %>
</ol>
<%end%>
 <section class="respond-form">
    <h3 id="comment-form-title" class="h2">Leave a Reply</h3>
    <%= simple_form_for [video, Comment.new], data: { target: "comment.content", reflex: "submit->CommentReflex#submit", signed_id: video.to_sgid.to_s , } do |f| %>
    <div class="form-group">
       <p> <%= f.input :content, label: false, class: "form-control", placeholder: "Your Comment here...", tabindex: 1 %> </p>
    </div>
     <% if comment.presence  && comment.errors.any? %>
        <% comment.errors.full_messages.each do |message| %>
        <li><%= message %>
        <% end %>
    <% end %>
    <p></p>
     <div class="form-group">
    <p><%= f.submit class: "button" %></p>
    </div>
    <% end %>
</section>
</div>