  <div id="content">
    <div id="inner-content" class="row clearfix">
        <div id="main" class="large-9 medium-12 columns first clearfix" role="main">
            <%= render(BreadCrumbComponent.new(breadcrumbs: @breadcrumbs)) %>
            <!-- Start header-->
            <header>
                <h1 class="archive-title"><%=@category.try(:title)%></h1>
                <p><%=@category.try(:description)%></p>		
            </header>
            <!-- End header-->
            <article class="row">
                <div class="columns">
                <dl class="tabs radius">
                    <!-- Tabs -->
                    <!-- Grid view /List view -->
                    <!-- Button of grid - list view -->
                    <div class="grid-list-btn hide-for-xsmall-only right hide-for-small-only">
                        <ul class="button-group viewsbox">
                            <li><a href="#" id="gridview" class="active button"><i class="fa fa-th step"></i><span>Grid View</span></a></li>
                            <li><a href="#" id="listview" class="button"><i class="fa fa-list step"></i><span>List View</span></a></li>
                        </ul>
                    </div>
                    <!-- #End-->
                    <!-- Tabs start -->
                    <dd class="<%=get_tab_status('latest',params[:tab])%>"><a href="https://demo.templatic.com/video/videoscategory/travel/">Latest</a></dd>
                    <dd class="<%=get_tab_status('most_viewed',params[:tab])%>"><a href="https://demo.templatic.com/video/videoscategory/travel/?most_viewed=videos">Most Viewed</a></dd>
                    <dd class="<%=get_tab_status('most_rated',params[:tab])%>"><a href="https://demo.templatic.com/video/videoscategory/travel/?most_rated=videos">Most Commented</a></dd>
                    <!-- Tabs #End-->
                </dl>
                <!-- Tab start -->
                <div id="video-cat-content" class="tabs-content row grid">
                    <div class="content thumbnails active" id="most_video_view">
                    <%= render(VideoItemComponent.with_collection(@latest_videos)) %>
                    </div>
                </div>
                <!-- eND .COLUMNS-->
            </article>
            <!--End Row -->
            </div> <!-- end #main -->
            <!-- Video category  Page sidebar -->
            <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
                <div id="tmpl_categories_widget-2" class="widget widget_categories">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title h2">Categories</h3>
                    <ul>
                        <%= render(CategoryComponent.with_collection(@categories)) %>
                    </ul>
                </div>
                </div>
                <div id="tmpl_adv_widget-7" class="widget widget Advertise">
                <div class="widget-wrap widget-inside">
                    <div class="advt advt-2c">
                        <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
                        <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
                    </div>
                </div>
                </div>
                <div id="tmpl_adv_widget-17" class="widget widget Advertise">
                <div class="widget-wrap widget-inside">
                    <div class="advt advt-1c">
                        <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> 
                    </div>
                </div>
                </div>
                <div id="tmpl_subscriber_widget-7" class="widget widget Newsletter subscribe">
                <div class="widget-wrap widget-inside">
                    <div class="subscribe newsletter_subscribe_footer_widget">
                        <div class="subscribe_wall">
                            <div class="subscribe_cont">
                            <h3 class="widget-title h2">Subscribe To Newsletter</h3>
                            <p> Subscribe to get our latest news </p>
                            <span class="newsletter_msg" id="newsletter_msg"> </span>
                            <input type="text" name="name" id="name" value="" class="field" onfocus="if (this.placeholder == 'Name') {this.placeholder = '';}" onblur="if (this.placeholder == '') {this.placeholder = 'Name';}"  placeholder="Name"/>
                            <input type="text" name="email" id="email" value="" class="field" onfocus="if (this.placeholder == 'Your Email Address') {this.placeholder = '';}" onblur="if (this.placeholder == '') {this.placeholder = 'Your Email Address';}" placeholder="Your Email Address"/>
                            <input class="replace button" type="submit" name="mailchimp_submit" id="mailchimp_submit" value="Subscribe" />
                            </div>
                        </div>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
                </div>
            </div>
            <!-- Video category  Page sidebar End-->
        </div>
        <!-- end #inner-content -->
    </div>
 </div>