  <div id="content">
    <div id="inner-content" class="row clearfix">
        <div id="main" class="large-9 medium-12 columns first clearfix" role="main" data-controller="videos">
            <%= render(BreadCrumbComponent.new(breadcrumbs: @breadcrumbs)) %>
            <!-- Start header-->
            <header>
                <h1 class="archive-title"><%=@category.try(:title)%></h1>
                <p><%=@category.try(:description)%></p>		
            </header>
            <!-- End header-->
            <article class="row">
                <div class="columns">
                <dl class="tabs radius">
                    <!-- Tabs -->
                    <!-- Grid view /List view -->
                    <!-- Button of grid - list view -->
                   <%= render 'tabs' %>
                    <!-- #End-->
                    <!-- Tabs start -->
                      <dd class="<%=get_tab_status('latest', params[:tab])%>">
                        <%=link_to 'Latest', category_path(category_slug: params[:category_slug], tab: 'latest') %></dd>
                    <dd class="<%=get_tab_status('most_viewed', params[:tab])%>">
                        <%=link_to 'Most Viewed', category_path(category_slug: params[:category_slug], tab: 'most_viewed') %></dd>
                    <dd class="<%=get_tab_status('most_commented', params[:tab])%>">
                        <%=link_to 'Most Commented', category_path(category_slug: params[:category_slug], tab: 'most_commented') %></dd>
                    <!-- Tabs #End-->
                </dl>
                <!-- Tab start -->
                <div id="video-cat-content" class="tabs-content row grid"  data-target="videos.content">
                    <div class="content thumbnails active" id="most_video_view">
                    <%= render(VideoItemComponent.with_collection(@videos)) %>
                    <%= paginate @videos %>
                    </div>
                </div>
                <!-- eND .COLUMNS-->
            </article>
            <!--End Row -->
            </div> <!-- end #main -->
            <!-- Video category  Page sidebar -->
            <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
                <div id="tmpl_categories_widget-2" class="widget widget_categories">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title h2">Categories</h3>
                    <ul>
                        <%= render(CategoryComponent.with_collection(@categories)) %>
                    </ul>
                </div>
                </div>
                <div id="tmpl_adv_widget-7" class="widget widget Advertise">
                <div class="widget-wrap widget-inside">
                    <div class="advt advt-2c">
                        <img src="<%=asset_path('banner-1.jpg')%>" class="thumb-img"> 
                        <img src="<%=asset_path('banner-1.jpg')%>" class="thumb-img"> 
                    </div>
                </div>
                </div>
                <div id="tmpl_adv_widget-17" class="widget widget Advertise">
                <div class="widget-wrap widget-inside">
                    <div class="advt advt-1c">
                        <img src="<%=asset_path('banner.jpg')%>" class="thumb-img"> 
                    </div>
                </div>
                </div>
            </div>
            <!-- Video category  Page sidebar End-->
        </div>
        <!-- end #inner-content -->
    </div>
 </div>