<div id="content">
	<div id="inner-content" class="row clearfix">
		<div id="main" class="large-9 medium-12 columns first clearfix" role="main">
			<article class="row">
				<section class="large-12 columns">
					<article class="row">
						<section class="large-12 columns">
							<div id="tmpl_video_slider_widget-3" class="widget widget_video_slider">
								<div class="widget-wrap widget-inside">
									<!-- Article start -->
									<div class="owl-carousel">
										<%@banner_videos.each do |video|%>
											<div class="item-video" data-merge="3">	
												<div class="owl-video-wrapper">
													<div class="owl-video-play-icon"></div>
													<%=image_tag video_preview_image(video)%> 
												</div>				
												<div class="orbit-caption">
													<h2><%=link_to video.try(:title), video_url(video_slug: video.slug)%><h2>
												</div>
											</div>
										<%end%>
									</div>
                           <script>
                           jQuery(document).ready(function() {
                              jQuery('.owl-carousel').owlCarousel({
                                 loop: true,
                                 dots: true,
                                 nav: true,
                                 video: true,
                                 lazyLoad: true,
                                 autoplay: false,
                                 autoplayHoverPause: true,
                                 center: true,
                                 onTranslate: function() {
                                       jQuery('.owl-item').find('video').each(function() {
                                          this.pause();
                                       });
                                 }
                              });
                           });
                           </script>
									<!-- Article End -->
								</div>
							</div>
						</section>
					</article>
				</section>
			</article>
			<article class="row">
				<section class="large-12 columns">
					<div id="tmpl_widget_per_cat_popular_posts-4" class="widget widget_per_cat_popular_posts">
						<div class="widget-wrap widget-inside">
							<h3 class="widget-title h2">Video Categories</h3>
							<!-- Article start -->
							<div class="row col4-thumb grid">
								  <%@categories.each do |category|%>
									<% if category.video_items.any?%>
										<%= render(VideoItemComponent.new(video: category.video_items.first, category: category))%>
									<%end%>
								  <%end%>
							</div>
							<!-- Article End -->
						</div>
					</div>
					<div id="tmpl_widget_latest_videos-6" class="widget widget_latest_videos">
						<div class="widget-wrap widget-inside">
							<h3 class="widget-title h2">Latest Videos</h3>
							<!-- Article start -->
							<div class="row col4-thumb grid">
								<%= render(VideoItemComponent.with_collection(@latest_videos)) %>
							</div>
							<!-- Article End -->
						</div>
					</div>
				</section>
			</article>
		</div>
		<!-- end #main -->
		<!-- Front  Page sidebar -->
		<div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
			<div id="tmpl_adv_widget-18" class="widget widget Advertise">
				<div class="widget-wrap widget-inside">
					<div class="advt advt-1c"> <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> </div>
				</div>
			</div>
			<div id="tmpl_widget_popular_posts-5" class="widget widget_popular_posts">
				<div class="widget-wrap widget-inside">
					<h3 class="widget-title h2">Popular Videos</h3>
					<ul class="grid row">
						<%= render(VideoItemComponent.with_collection(@popular_videos))  do |component|%>
						 <% component.slot(:list) do %>
							this is list
						<% end %>
						<%end%>
					</ul>
				</div>
			</div>
			<div id="nav_menu-6" class="widget widget_nav_menu">
				<div class="widget-wrap widget-inside">
					<h3 class="widget-title h2">Categories</h3>
					<div class="menu-video-container">
						<ul id="menu-video" class="menu">
							<%= render(CategoryComponent.with_collection(@categories)) %>
						</ul>
					</div>
				</div>
			</div>
			<div id="tmpl_adv_widget-20" class="widget widget Advertise">
				<div class="widget-wrap widget-inside">
					<div class="advt advt-1c"> <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> </div>
				</div>
			</div>
			<div id="recent-comments-5" class="widget widget_recent_comments">
				<div class="widget-wrap widget-inside">
					<h3 class="widget-title h2">Recent Comments</h3>
					<ul id="recentcomments">
						<li class="recentcomments"><span class="comment-author-link"><a href='http://templatic.com' rel='external nofollow ugc' class='url'>Gerrard Buttler</a></span> on <a href="https://demo.templatic.com/video/title-with-markup/#comment-2585">Title With Markup</a></li>
					
					</ul>
				</div>
			</div>
		</div>
		<!-- Front  Page sidebar End-->
	</div>
	<!-- end #inner-content -->
</div>
<!-- end #content -->