  <div id="content">
    <div id="inner-content" class="row clearfix">
        <div id="main" class="large-9 medium-12 columns first clearfix" role="main">
            <%= render(BreadCrumbComponent.new(breadcrumbs: @breadcrumbs)) %>
            <!-- Start header-->
            <header>
                <h1 class="archive-title">Videos</h1>
            </header>
            <!-- End header-->
            <article class="row">
                <div class="columns">
                <dl class="tabs radius">
                    <!-- Tabs -->
                    <!-- Grid view /List view -->
                    <!-- Button of grid - list view -->
                    <div class="grid-list-btn hide-for-xsmall-only right hide-for-small-only">
                        <ul class="button-group viewsbox">
                            <li><a href="#" id="gridview" class="active button"><i class="fa fa-th step"></i><span>Grid View</span></a></li>
                            <li><a href="#" id="listview" class="button"><i class="fa fa-list step"></i><span>List View</span></a></li>
                        </ul>
                    </div>
                    <!-- #End-->
                    <!-- Tabs start -->
                    <dd class="<%=get_tab_status('latest', params[:tab])%>">
                        <%=link_to 'Latest', videos_path(tab: 'latest') %></dd>
                    <dd class="<%=get_tab_status('most_viewed', params[:tab])%>">
                        <%=link_to 'Most Viewed', videos_path(tab: 'most_viewed') %></dd>
                    <dd class="<%=get_tab_status('most_commented', params[:tab])%>">
                        <%=link_to 'Most Commented', videos_path(tab: 'most_commented') %></dd>
                    <!-- Tabs #End-->
                </dl>
                <!-- Tab start -->
                <div id="video-cat-content" class="tabs-content row grid">
                    <div class="content thumbnails active" id="most_video_view">
                    <%= render(VideoItemComponent.with_collection(@videos)) %>
                    <%= paginate @videos %>
                    </div>
                </div>
                <!-- eND .COLUMNS-->
            </article>
            <!--End Row -->
            </div> <!-- end #main -->
            <!-- Video category  Page sidebar -->
            <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
                <div id="tmpl_categories_widget-2" class="widget widget_categories">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title h2">Categories</h3>
                    <ul>
                        <%= render(CategoryComponent.with_collection(@categories)) %>
                    </ul>
                </div>
                </div>
                <div id="tmpl_adv_widget-7" class="widget widget Advertise">
                <div class="widget-wrap widget-inside">
                    <div class="advt advt-2c">
                        <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
                        <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
                    </div>
                </div>
                </div>
                <div id="tmpl_adv_widget-17" class="widget widget Advertise">
                <div class="widget-wrap widget-inside">
                    <div class="advt advt-1c">
                        <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> 
                    </div>
                </div>
                </div>
            </div>
            <!-- Video category  Page sidebar End-->
        </div>
        <!-- end #inner-content -->
    </div>
 </div>