  <div id="content">
   <div id="inner-content" class="row clearfix">
      <div id="main" class="large-9 medium-12 columns first clearfix" role="main">
            <%= render(BreadCrumbComponent.new(breadcrumbs: @breadcrumbs)) %>
         <!-- display video -->	
         <!-- display video end -->
         <article class="row detail-video">
            <div class="large-12 columns">
               <div class="flex-video">
                  <%=render(VideoViewComponent.new(video: @video)) %>
               </div>
            </div>
         </article>
         <!-- display video slider-->
         <header class="row detail-title-gravitar">
            <!-- Show gravtar -->
            <!-- Show title end  -->
            <div class="medium-10 small-12  columns detail-title">
               <h1 itemprop="headline"><%=@video.try(:title)%></h1>
               <p class="byline"> Posted by 
               <span itemprop="author"  class="author">
               <a href="#" title="Posts by <%=@video.user.email%> " rel="author"><%=@video.user.email%> </a></span> on 
               <time class="updated" datetime="<%=video_created_time(@video)%>"><%=video_created_time(@video)%></time> in
               <%@video.categories.uniq.each_with_index do  |category,index|%>
                  <%seprator = index == (@video.categories.uniq.size.to_i - 1) ? '' : ','%>
                  <%=link_to "#{category.title}#{seprator}", category_url(category_slug: category.slug)%>
               <%end%> 
              </p>
            </div>
         </header>
         <!-- end article header -->
         <!-- display video slider end -->
         <!-- Show views and share button -->
         <article class="row meta-transparent-buttons">
            <div class="medium-5 small-12 columns">
               <%=  render partial: "votes", locals: {video: @video} %>
            </div>
            <!-- Social media share buttons -->
            <%= render 'social_share_button' %>
            <!-- Social media share buttons end -->
         </article>
         <!-- Video Description -->
         <article class="row description">
            <div class="large-12 columns">
               <h2 class="title-custom-border">Details</h2>
               <p><%=@video.excerpt%></p>
               <p><%=@video.description%></p>
            </div>
         </article>
         <!-- If comments are open, but there are no comments. -->
          <%=  render partial: "comments" , locals: {video: @video, comment: Comment.new} %> 
      </div>
      <!-- end #main -->
      <!-- Video Detail  Page sidebar -->
      <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
         <div id="tmpl_widget_related_posts-2" class="widget widget_related_posts">
            <div class="widget-wrap widget-inside">
               <h3 class="widget-title h2">Similar Videos</h3>
               <ul class="list row">
                  <%= render(VideoItemComponent.with_collection(@similar_videos))  do |component|%>
                  <% component.slot(:list) do %>
                     this is list
                  <% end %>
                  <%end%>
               </ul>
            </div>
         </div>
         <div id="tmpl_categories_widget-3" class="widget widget_categories">
            <div class="widget-wrap widget-inside">
               <h3 class="widget-title h2">Categories</h3>
               <ul>
                  <%= render(CategoryComponent.with_collection(@categories)) %>
               </ul>
            </div>
         </div>
         <div id="tmpl_adv_widget-4" class="widget widget Advertise">
            <div class="widget-wrap widget-inside">
               <div class="advt advt-2c">
                  <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
                  <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
               </div>
            </div>
         </div>
         <div id="tmpl_adv_widget-5" class="widget widget Advertise">
            <div class="widget-wrap widget-inside">
               <div class="advt advt-1c">
                  <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> 
               </div>
            </div>
         </div>
      </div>
      <!-- Video Detail  Page sidebar End-->
   </div>
   <!-- end #inner-content -->
</div>